{% extends "layout.html" %}

{% block content %}

    <h1>FDS - HomeWork 1</h1>

    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

    <div class="content-section">
       <form action="{{ url_for('scrape_author') }}" method="POST">
           <label>Escolha o autor</label>
           <input type="text" name="author" value="" autofocus>
           <input type="submit" name="Escolha o autor">
       </form> 
    </div>

    <!-- {{ author }} -->



    <div class="container">
      <div class="charts text-center">
        <div class="row"><div id="grafo"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <div class="container">
      <h3>Instruções:</h3>
      <p>
        Na barra de pesquisa você deve inserir o nome do pesquisador que está procurando.
        O aplicativo irá então buscar no Google Scholar pelo nome inserido, e irá retornar
        o primeiro valor encontrado. Caso não seja encontrado o pesquisador ou algum outro erro ocorra,
        uma mensagem irá aparecer na tela.
      </p>
      <p>
        Quando o nome for encontrado, dois grafos interativos irão aparecer na tela.
        O grafo da esquerda corresponde a uma rede de coautorias, onde os nós representam autores de papers,
        e a aresta indica que publicaram algum artigo em conjunto. Enquanto o grafo da direito relaciona artigos
        com autores em comum.
      </p>
      <p>
        No grafo da esquerda, é possível clicar nos nós, de forma que no grafo da direita irão filtrar os papers
        correspondentes aquele autor.  
      </p>
      <p>
        Reiniciando o aplicativo a base de dados será deletada e criada novamente ao rodar o aplicativo.
      </p>

    </div>
{% endblock content %}
