{% extends "layout.html" %}

{% block content %}
    <h1>FDS - HomeWork 1</h1>
    <div class="content-section">
       <form action="{{ url_for('scrape_author') }}" method="POST">
           <label>Escolha o autor</label>
           <input type="text" name="author" value="" autofocus>
           <input type="submit" name="Escolha o autor">
       </form> 
    </div>

    <!-- {{ author }} -->



    <div class="container">
      <div class="charts text-center">
        <div class="row"><div id="teste"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>
{% endblock content %}
